@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #121212;
    /* Новый фоновый цвет */
    --foreground-rgb: 255, 255, 255;
    /* Цвет текста */
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: var(--background);
    font-family: 'Arial, sans-serif';
    /* Задайте желаемый шрифт */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FF5733;
    /* Цвет заголовков */
}

a {
    color: #FFBD69;
    text-decoration: none;
}

a:hover {
    color: #FFC300;
}

.button {
    background-color: #FF5733;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: #FFBD69;
}